* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #272822;
    font-size: 14px;
}


body,
button {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Arial, 'Lantinghei SC', 'Microsoft Jhenghei', sans-serif;
}

input,
textarea {
    font-family: 'Source Code Pro', Consolas, 'Courier New', monospace;
}

a {
    color: #409e40;
}

label {
    cursor: pointer;
}

header {
    position: relative;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    box-shadow: 0 0 5px #000;
    background-color: #eee;
    z-index: 2;
}

h1 {
    float: left;
    height: 60px;
    margin: 0;
    font-size: 18px;
    line-height: 60px;
    color: #272822;
    font-weight: 400;
}

h1 small {
    font-size: 11px;
    color: #999;
}

h1 a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

[v-show] {
    display: none;
}

#settings {
    float: right;
    margin: 0;
    list-style: none;
    line-height: 60px;
    font-size: 12px;
}

#settings label {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

#settings li {
    float: left;
    margin-right: 10px;
}

#settings .fa {
    color: #999;
}

#settings input,
#settings select,
#settings a {
    vertical-align: middle;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

button {
    width: 32px;
    margin: 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.3);
}

.auto #run:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

#run:active,
.auto #run {
    background-color: #90ee90;
    color: #409e40;
    cursor: default;
}

#run .fa-refresh {
    display: none;
}

.auto #run .fa-play {
    display: none;
}

.auto #run .fa-refresh {
    display: inline-block;
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
}

#run:active .fa,
.auto #run .fa {
    color: #409e40;
}

#run span {
    display: none;
}

#link {
    width: 0;
    padding: 3px 0;
    border: none;
    border-radius: 3px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    transition: width 0.3s, padding 0.3s;
}

#link:focus {
    padding: 3px 8px;
    width: 240px;
}

section {
    position: absolute;
    top: 60px;
    bottom: 30px;
    width: 50%;
    opacity: 0;
    transition: opacity 1000ms;
}

.ready section {
    opacity: 1;
}

.compiling #compiled {
    opacity: 0;
}

#source {
    left: 0;
}

#compiled {
    left: 50%;
}

.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 30px 30px;
    line-height: 1.2;
    font-family: 'Source Code Pro', Consolas, 'Courier New', monospace;
    font-weight: 200;
}

#source .CodeMirror {
    border-right: 1px dashed #666;
}

#source .CodeMirror::after,
#compiled .CodeMirror::after {
    content: "‹ LESS";
    position: absolute;
    top: 0;
    right: 15px;
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.est #source .CodeMirror::after {
    content: "‹ LESS (with est)"
}

#compiled .CodeMirror::after {
    content: "‹ CSS";
}

.error #compiled span {
    background-color: transparent !important;
    color: #F92672 !important;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.backdrop.show {
    display: block;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    color: #fff;
    z-index: 3;
}

.message .fa-spinner {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
}

.toast {
    position: fixed;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 4px 8px;
    background-color: lightgreen;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 12px;
    z-index: 3;
    pointer-events: none;
}

#comments {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    overflow: hidden;
    z-index: 10;
    padding: 30px 30px 0;
    box-shadow: 0 0 5px #000;
    background-color: #eee;
    transition: height 0.5s;
}

#toggle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

#toggle .fa {
    position: relative;
}

#toggle:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    background-image: linear-gradient(to top, #eee, #eee 25%, #ccc);
}

#toggle:hover:before {
    opacity: 1;
}

.discussing #comments {
    height: 100%;
    overflow: auto;
}

.discussing #toggle .fa-comment {
    display: none;
}

#toggle .fa-angle-down {
    display: none;
}

.discussing #toggle .fa-angle-down {
    display: inline;
}

a[href^="http://tongji.baidu.com"] {
    display: none;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
