* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url(../img/loading.gif) #272822 no-repeat center center;
    font-size: 14px;
}


body,
input,
textarea,
button {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Arial, 'Lantinghei SC', 'Microsoft Jhenghei', sans-serif;
}

a {
    color: #409e40;
}

.compiling {
    background-position: 75% center;
}

header {
    position: relative;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    box-shadow: 0 0 5px #000;
    background-color: #eee;
    z-index: 2;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 60px;
    color: #272822;
    font-weight: 400;
}

h1 small {
    font-size: 11px;
    color: #999;
}

h1 a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

#settings {
    float: right;
    margin: 0;
    list-style: none;
    line-height: 60px;
    font-size: 12px;
}

#settings label {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

#settings li {
    float: left;
    margin-right: 10px;
}

#settings .fa {
    color: #999;
}

#settings input,
#settings select {
    vertical-align: middle;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

#run {
    position: relative;
    margin: 0;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    background-color: #90ee90;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #409e40;
    cursor: pointer;
    box-shadow: 0 3px 0 #409e40;
    outline: none;
}

#run:active {
    top: 3px;
    background-color: #80de80;
    color: #207e20;
    box-shadow: none;
}

#run .fa {
    margin-right: 5px;
    color: #409e40;
}

section {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 50%;
    opacity: 0;
    transition: opacity 1000ms;
}

.ready section {
    opacity: 1;
}

.compiling #compiled {
    opacity: 0;
}

#source {
    left: 0;
}

#compiled {
    left: 50%;
}

.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 30px 30px;
    line-height: 1.2;
    font-family: Consolas, monospace;

}

#source .CodeMirror {
    border-right: 1px dashed #666;
}

#source .CodeMirror::after,
#compiled .CodeMirror::after {
    content: "‹ LESS";
    position: absolute;
    top: 0;
    right: 15px;
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

#source.est .CodeMirror::after {
    content: "‹ LESS (with est)"
}

#compiled .CodeMirror::after {
    content: "‹ CSS";
}

.error span {
    background-color: transparent !important;
    color: #F92672 !important;
}

#comments {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    overflow: auto;
    z-index: 10;
    padding: 30px 30px 0;
    box-shadow: 0 0 5px #000;
    background-color: #eee;
    transition: height 0.5s;
}

#toggle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

#toggle .fa {
    position: relative;
}

#toggle:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    background-image: linear-gradient(to top, #eee, #eee 25%, #ccc);
}

#toggle:hover:before {
    opacity: 1;
}

.discussing #comments {
    height: 100%;
}

.discussing #toggle .fa-comment {
    display: none;
}

#toggle .fa-angle-down {
    display: none;
}

.discussing #toggle .fa-angle-down {
    display: inline;
}
