.me-1 {
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
}
.me-2 {
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}
.me-3 {
  margin-top: 0.75em;
  margin-right: 1em;
  margin-bottom: 1.25em;
  margin-left: 1em;
}
.me-4 {
  margin-top: 0.75em;
  margin-right: 1em;
  margin-bottom: 1.25em;
  margin-left: 1.5em;
}
.mte {
  margin-top: 0.75em;
}
.mre {
  margin-right: 0.25em;
}
.mbe {
  margin-bottom: 0.75em;
}
.mle {
  margin-left: 0.75em;
}
.pe-1 {
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}
.pe-2 {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}
.pe-3 {
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 1.25em;
  padding-left: 1em;
}
.pe-4 {
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 1.25em;
  padding-left: 1.5em;
}
.pte {
  padding-top: 0.75em;
}
.pre {
  padding-right: 0.25em;
}
.pbe {
  padding-bottom: 0.75em;
}
.ple {
  padding-left: 0.75em;
}
