<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>estFiddle</title>
    <link href='http://fonts.useso.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="dist/app.min.css">
</head>
<body :class="bodyClass">
    <header>
        <h1>estFiddle <small>Powered by <a href="http://lesscss.org/" target="_blank">Less</a> and <a href="http://ecomfe.github.io/est/" target="_blank">est</a>.</small></h1>
        <ul id="settings">
            <li><i class="fa fa-cog"></i> <label title="Enable code blast"><input type="checkbox" v-on:change="toggleBlast" v-model="blast"> Blast</label></select></li>
            <li><i class="fa fa-cog"></i> <b>Less</b> <select id="less-version" v-model="version" v-options="versions" v-on:change="updateVersion"></select></li>
            <li><i class="fa fa-cog"></i> <label title="Enable est"><input type="checkbox" v-on:change="parse(false)" v-model="est"> <b>est</b></label></li>
            <li><i class="fa fa-cog"></i> <label title="Enable Autoprefixer"><input type="checkbox" v-on:change="parse(false)" v-model="autoprefix"> <b>Autoprefixer</b></label></li>
            <li><i class="fa fa-cog"></i> <label title="Enable auto-run"><input type="checkbox" v-on:change="parse(false)" v-model="autorun"> Auto-run</label></li>
            <li><label id="share" title="Copy share link"><i class="fa fa-share-alt"></i> <input type="text" id="link" readonly></label></li>
            <li><button v-on:click="parse(true)" id="run" :title="autorun ? 'Running' : 'Run'"><i class="fa fa-play"></i><i class="fa fa-refresh"></i></button></li>
            <li><button v-on:click="launchJSFiddle" title="View compiled code in JSFiddle"><i class="fa fa-jsfiddle"></i></button></li>
            <li><button v-on:click="launchCodePen" title="View compiled code in CodePen"><i class="fa fa-codepen"></i></button></li>
        </ul>
    </header>
    <section id="source" :class="est ? 'est' : ''">
        <textarea id="est"></textarea>
    </section>
    <section id="compiled">
        <textarea id="css"></textarea>
    </section>
    <aside id="comments">
        <button id="toggle" title="Toggle comments" v-on:click="isDiscussing = !isDiscussing"><i class="fa fa-angle-down"></i> <i class="fa fa-comment"></i></button>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'estfiddle';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.body).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </aside>
    <div class="backdrop" v-show="message">
        <div class="message" v-html="message"></div>
    </div>
    <div class="toast" hidden v-show="toast" v-html="toast"></div>
    <script src="dist/app.min.js"></script>
    <script>
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe54713fce14836e2458aa4415fc09707' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
