//
// Layout
// -----------------------------------------------------------------------------
//
// ### Usage:
// 提供基础的布局设置。
//

@import 'compatibility';
@import 'util';

//
// ## 垂直方向填充满高度的布局
//
// ### Example:
//
// // 页头高度90px并相对视口固定，无页脚。
// #page1 {
//     .full-height-layout(90px fixed, 0);
// }
//
// // 页脚高度90px，在内容不足一屏时固定在页面底部。
// #page2 {
//     .full-height-layout(none, 90px);
// }
//
// // 页头高度90px，页脚70px并相对视口固定，页脚在内容不足一屏时固定在页面底部。
// #page3 {
//     .full-height-layout(90px, 70px fixed);
// }

.est-full-height-layout(@header-config, @footer-config: none) {
    @header-style: ~`"@{header-config}".match(/\b(?:fixed|normal|none)\b/) || "normal"`;
    @header-height: ~`"@{header-config}".match(/(?=\b|\s)\d+(?:\.\d+)?(?:\w+|%)?/) || "@{default-header-height}"`;
    @footer-style: ~`"@{footer-config}".match(/\b(?:fixed|normal|none)\b/) || "normal"`;
    @footer-height: ~`"@{footer-config}".match(/(?=\b|\s)\d+(?:\.\d+)?(?:\w+|%)?/) || "@{default-footer-height}"`;

    position: relative;
    height: 100%;

    .set-header(...) {}
    .set-header(@height, normal) when (@height > 0) {
        .est-header {
            position: relative;
            height: @height;
            margin-bottom: ~`"-@{height}"`;
        }
    }
    .set-header(@height, fixed) when (@height > 0) {
        .est-header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: @header-z-index;
            width: 100%;
            height: @height;
        }
    }
    .set-header(@header-height, @header-style);

    .est-body-wrapper {
        .min-height(100%);
        overflow: hidden;

        .set-placeholder() when not (@header-style = none) and (@header-height > 0) and (@support-old-ie = false) {
            &:before {
                content: '';
                display: block;
                height: @header-height;
            }
        }
        .set-placeholder() when not (@footer-style = none) and (@footer-height > 0) and (@support-old-ie = false) {
            &:after {
                content: '';
                display: block;
                height: @footer-height;
            }
        }
        .set-placeholder() when not (@header-style = none) and (@header-height > 0) and (@support-old-ie = true) {
            .est-header-placeholder {
                display: block;
                height: @header-height;
            }
        }
        .set-placeholder() when not (@footer-style = none) and (@footer-height > 0) and (@support-old-ie = true) {
            .est-footer-placeholder {
                display: block;
                height: @footer-height;
            }
        }
        .set-placeholder;
    }

    .est-body {
        overflow: hidden;
    }

    .set-footer(...) {}
    .set-footer(@height, normal) when (@height > 0) {
        .est-footer {
            position: relative;
            height: @height;
            margin-top: ~`"-@{height}"`;
        }
    }
    .set-footer(@height, fixed) when (@height > 0) {
        .est-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: @footer-z-index;
            width: 100%;
            height: @height;
        }
    }
    .set-footer(@footer-height, @footer-style);
}

//
// ## 居中的固定宽度布局
// 
// ### Example:
//
// #page {
//     .est-page-layout();
// }
//
// ### Known issue:
// IE的quirks mode下，需要在上层元素设置`text-align: center;`并且该元素自身重设
// 为`text-align: left;`。

.est-page-layout(@page-width: @default-page-width) {
    width: @page-width;
    margin-right: auto;
    margin-left: auto;
}

//
// ## 固定边栏布局
// 支持左右两侧各最多一个定宽（可以是px/em/%）侧边栏，主内容区域填充剩余宽度。
//
// ### Example:
//
// // 左侧单侧边栏
// #page1 {
//     .est-sidebar-layout(left, 220px);
// }
//
// // 右侧单侧边栏
// #page2 {
//     .est-sidebar-layout(right, 220px);
// }
//
// // 双侧边栏，左侧220px宽，右侧180px宽
// #page3 {
//     .est-sidebar-layout(220px, 180px);
// }

.est-sidebar-layout(left, @sidebar-width: @default-sidebar-width) {
    position: relative;

    .est-main {
        overflow: hidden;
        margin-left: @sidebar-width;
    }

    .est-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: @sidebar-width;
    }
}
.est-sidebar-layout(right, @sidebar-width: @default-sidebar-width) {
    position: relative;

    .est-main {
        overflow: hidden;
        margin-right: @sidebar-width;
    }

    .est-sidebar {
        position: absolute;
        top: 0;
        right: 0;
        width: @sidebar-width;
    }
}
.est-sidebar-layout(
    @sidebar-primary-width: @default-sidebar-width,
    @sidebar-secondary-width: @default-sidebar-width
) when (isnumber(@sidebar-primary-width)) and (isnumber(@sidebar-secondary-width)) {
    position: relative;

    .est-main {
        overflow: hidden;
        margin-right: @sidebar-secondary-width;
        margin-left: @sidebar-primary-width;
    }

    .est-sidebar-primary {
        position: absolute;
        top: 0;
        left: 0;
        width: @sidebar-primary-width;
    }

    .est-sidebar-secondary {
        position: absolute;
        top: 0;
        right: 0;
        width: @sidebar-secondary-width;
    }
}

//
// ## 弹出层布局
// 支持不定宽度的弹出容器在某定位元素内靠上/下/左/右/居中定位显示。
//
// ### Example:
// // 水平居左、垂直居中，遮罩层透明度50%
// .overlay1 {
//   .est-popup-layout(left, 50);
// }
//
// // 水平/垂直居中，遮罩层全透明
// .overlay2 {
//   .est-popup-layout(center);
// }
//
// Known issue:
// 不支持IE 6。

.est-popup-layout(@position, ...) {
    position: fixed;
    z-index: @modal-z-index;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    letter-spacing: -0.31em;
}
.est-popup-layout(@position, ...)
    when (@position = left), (@position = center), (@position = right) {
    text-align: @position;

    .set-valign-ghost() when (@support-old-ie = true) {
        .est-valign-ghost {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    .set-valign-ghost() when (@support-old-ie = false) {
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    .set-valign-ghost;

    .est-popup {
        display: inline-block;
        vertical-align: middle;
    }
}
.est-popup-layout(@position, ...) when (@position = top), (@position = bottom) {
    text-align: center;

    .set-valign-ghost() when (@support-old-ie = true) {
        .est-valign-ghost {
            display: inline-block;
            height: 100%;
            vertical-align: @position;
        }
    }
    .set-valign-ghost() when (@support-old-ie = false) {
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: @position;
        }
    }
    .set-valign-ghost;

    .est-popup {
        display: inline-block;
        vertical-align: @position;
    }
}
.est-popup-layout(@position, @overlay-opacity: 0) when (@overlay-opacity = 0) {
    pointer-events: none;

    .est-popup {
        pointer-events: all;
    }
}
.est-popup-layout(@position, @overlay-opacity) when (@overlay-opacity > 0) {
    // 透明图片解决IE 8下点击穿透问题
    background: ~"url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat\0";
    background: rgba(0, 0, 0, @overlay-opacity / 100);
    @argb: argb(rgba(0, 0, 0, @overlay-opacity / 100));
    filter: ~`"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb},endColorstr=@{argb})\0"`;
    zoom: 1\0;
    // IE9下的hack，避免同时识别rgba和filter
    @media screen and (~"min-width:0\0") {
        & {
            filter: none;
        }
    }
}