// global flags
@support-old-ie: true;
@support-html5: false;

// default settings
@default-text-color: #000;
@default-input-placeholder-color: #666;

// layout settings
@default-header-height: 80px;
@default-page-width: 960px;
@default-sidebar-width: 250px;



