// global flags
@support-old-ie: true;
@support-html5: true;

// default typographic settings
@default-text-color: #666666;
@default-link-color: #0033CC;
@default-input-placeholder-color: #999999;
@default-font-family: 'Helvetica Neue', Arial, sans-serif;
@default-heading-font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
@default-code-font-family: Monaco, Consolas, monospace;

// default visual settings
@default-border-radius: 5px;
@default-box-shadow: 0 1px 3px rgba(0,0,0,.25);

// z-index settings (compatible with BootStrap, ESUI)
@header-z-index: 1000;
@footer-z-index: 1000;
@modal-z-index: 1050;
