.est-embossed {
  color: #69c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.est-blind-embossed {
  color: #b9deea;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.est-debossed {
  color: rgba(91, 145, 200, 0.8);
  text-shadow: 0 1px 1px lightblue, 0 0 0 #000, 0 1px 0 rgba(255, 255, 255, 0.8);
}
.est-blind-debossed {
  color: rgba(161, 210, 226, 0.8);
  text-shadow: 0 1px 1px lightblue, 0 0 0 #000, 0 1px 0 rgba(255, 255, 255, 0.8);
}
.est-3d {
  color: #fff;
  text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #cfcfcf, 0 3px 0 #c6c6c6, 0 4px 0 #bdbdbd, 0 5px 0 #a4a4a4, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.est-glow-1 {
  color: #fff;
  text-shadow: 0 0 10px;
}
.est-glow-2 {
  color: #fff;
  text-shadow: 0 0 20px gold;
}
.est-blurry {
  color: transparent;
  text-shadow: 0 0 0.15em #fff;
  text-shadow: 0 0 0.15em 0.1px #fff;
}
