.bc-1 {
  background-clip: padding-box;
}
.bc-2 {
  background-clip: padding-box, border-box;
}
.bs-1 {
  background-size: cover;
}
.bs-2 {
  background-size: cover, 50% auto;
}
.bo-1 {
  background-origin: padding-box;
}
.bo-2 {
  background-origin: padding-box, border-box;
}
.lg-1 {
  background-image: linear-gradient(to top right, #cc0000 0%, #0000cc 50%, #00cc00 100%);
  background-repeat: repeat;
}
.lg-2 {
  background-image: linear-gradient(30deg, red, blue, green);
  background-repeat: repeat;
}
.lg-3 {
  background-image: linear-gradient(to top, #000000, #ffffff);
  background-repeat: repeat;
}
.hg {
  background-image: linear-gradient(to right, red, blue);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffff0000', endColorstr='#ff0000ff', GradientType=1);
}
.vg {
  background-image: linear-gradient(to bottom, red, blue);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffff0000', endColorstr='#ff0000ff', GradientType=0);
}
.rlg-1 {
  background-image: repeating-linear-gradient(to top right, #cc0000 0%, #0000cc 5%, #00cc00 10%);
}
.rlg-2 {
  background-image: repeating-linear-gradient(30deg, red, blue 10px, green 20px);
}
.lg-3 {
  background-image: repeating-linear-gradient(to top, #000000, #ffffff 10px);
}
.rg-1 {
  background-image: radial-gradient(circle 10px at 0 0, #cc0000 0%, #0000cc 50%, #00cc00 100%);
}
.rg-2 {
  background-image: radial-gradient(ellipse farthest-corner at 10px 20px, #ffffff 20%, #cccccc 60%);
}
.rg-3 {
  background-image: radial-gradient(circle, #cc0000 0%, #00cc00 100%);
}
.rg-4 {
  background-image: radial-gradient(closest-side, #ffffff 20%, #cccccc 60%);
}
.rrg-1 {
  background-image: repeating-radial-gradient(circle 10px at 0 0, #cc0000 0%, #0000cc 50%, #00cc00 100%);
}
.rrg-2 {
  background-image: repeating-radial-gradient(ellipse farthest-corner at 10px 20px, #ffffff 20%, #cccccc 60%);
}
.rrg-3 {
  background-image: repeating-radial-gradient(circle, #cc0000 0%, #00cc00 100%);
}
.rrg-4 {
  background-image: repeating-radial-gradient(closest-side, #ffffff 20%, #cccccc 60%);
}
